<div class="text-end text-dark">
  <%= link_to "新着順", topics_path(sort: "new_arrival"), class:"me-3 text-decoration-none topic_sort" %>|
  <%= link_to "シャッフル", topics_path(sort: "shuffle"), class:"ms-2 text-decoration-none topic_sort" %>
</div>
<%= render "public/topics/index", topics: @topics %>