<h1 class="fw-bold">トピックタグ</h1>
<div class="container">
  <div class="row mt-5">
    <div class="d-flex flex-wrap">
      <% @tags.each do |tag| %>
        <div class="btn btn-info rounded-pill me-2 mb-3 topic_tag">
          <%= link_to tag.name, tag_search_topics_path(tag_id: tag.id), class:"text-decoration-none text-dark" %>
          </div>
      <% end %>
    </div>
  </div>
</div>