<div class="container">
  <div class="row">
    <div class="mx-auto">
      <div>
        <h2 class="text-center fw-bold text-danger my-5">【本当に退会しますか？】</h2>
        <p class="text-center">
          退会すると会員登録情報や<br>
          これまで登録したトピックなどが閲覧できなくなります。<br>
          退会する場合は、「退会する」をクリックしてください<br>
        </p>
      </div>
      <div class="d-flex justify-content-center my-5">
        <%= link_to "退会しない", user_path(@user), class:"btn btn-outline-primary rounded-pill me-5"%>
        <%= link_to "退会する", withdrawal_user_path, method: :patch,class:"btn btn-outline-danger rounded-pill withdrawal_button"%>
      </div>
    </div>
  </div>
</div>