<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <span>利用規約</span>
      <span>プライバシーポリシー</span>
      <p>Copyright © 2022.Converce</p>
    </div>
  </div>
</div>
