<div class="container align-self-center my-1">
  <div class="row">
    <div class="col-12 text-end text-light ">
      <span>利用規約</span>
      <span>プライバシーポリシー</span>
      <span>Copyright © 2022.Converce</span>
    </div>
  </div>
</div>
